@media screen 
and (min-width: 100px)
and (max-width: 1400px) {
#side_panel {
    display: none;
}
#thread_2 {
    display: none;
}
#thread_3 {
    display: flex;
    width: 100%;
    background-color: #d1d5db;
}
#thread_4 {
    display: block;
}
#thread_6 {
    display: none;
}

#like_img_1 {
    width: 20px;
    height: 20px;
}

#del_btn_1 {
    width: 20px;
    height: 20px;
}
#thread_7 {

}
#reply_l1 {
    display: none;
}
#like_l3 {
    display: none;
}
 #thread_7 p {
     font-size: 16px;
     /* Default font size */
 }
body {
    font-size: 20px;
}
/* Styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
        
    }
       
    .mine{
        
        
        flex-direction:column;
        padding:10px;
        width:100%;
        font-size: 10px;
        margin-bottom: 0%;
        
       
        

                
            }
            .Words{font-size: medium;}
    @media (max-width: 600px) {
            /*.github{
                display: none;
            }*/
    }
            .gitimage{
                
                width:50px;
                height:30px;
              /*  margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 50px;
    */
                align-content: center;
                margin-top: -3px;
                margin-left: -40px;

            
                
            }
            .gitpara{
                display:none
            }
            .sharePara{
                display:none;

                
                
            }
            .shareimage{
                width: 30px;
                    height: 25px;
                    /*margin-bottom: 50px;
                    margin-left: 0px;*/
                    align-content: center;
                     margin-top: px;
                     
            }
            .reactionPara {
                            display: none;
            
            
            
                        }
            
            .reactionimage {
                            width: 50px;
                            align-content: center;
                            height: 40px;
                            margin-left: -4px;
                            margin-bottom: 50px;
                            margin-top: -8px;
                                    /* Extend the image upwards */
                            
            
                        }
          .you{
                font: size 10rem;
                   text-align: left;
                    flex-direction: column;
                    padding: 10px;
                    margin-top: -65px;
                    
            }
                         .createPostwords {
                             padding: 0.5px 4px;
                             /* Reduced padding */
                             font-size: 0.8rem;
                             /* Smaller font size */
                             margin-bottom: 10px;
                             margin-left: -20px;
            
            
            
                         }*/
            
                         .createPo {
                            margin-bottom: 50px;
                             
                             padding: 0.5px 10px;
                             
                            margin-left: 20px;

                          
                             
                            
                            
            
                         }
                        .divForAll{
                            width: inherit;
                        }
                        .button{
                             padding: 0.5px 4px;
                             /* Reduced padding */
                             font-size: 0.8rem;
                             /* Smaller font size */
                             margin-bottom: 5px;
                             margin-left: -20px;
                        }
                        
                        
          @media only screen and (max-width: 768px) {
     .para{font-size: 15px;
           
           margin-top: -40px;
           margin-left:-150px;
                    
                    }    
      .mr-2{
        width: 30px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
      }
     .wordsdown{
        font-size: medium;
     }
     
    .table{
        margin-bottom: -90px;;
    }    
}


@media screen and (max-width: 768px) {
#mobile_sidePanel {
    background-color: #d1d5db;
    width: 300px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}
#side_panel_reveal_2 {
    display: block;
    margin-top:-110px;
}
#words{
    font-size: 50px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
}
#new{
margin-bottom: 50px;
margin-right: 20px;
padding-top: 10px;
width: 30px;
margin-top: -40px;
padding-left: 8px;

}
#divmine.side_panel_reveal_2{
    display: none;
    
    
}
}




.mobile_container {
    position: relative;
    margin-top: 20px;
  } 
  
  .mobile_side-panel {
    position: absolute;
    top: 0;
    left: -100%; /* Initially hidden */
    width: 250px;
    height: 100vh;
    z-index: 9000;
    transition: left 0.3s ease;
  }

  
  .mobile_open-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .mobile_close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
}